body {
  background-color: #ccc;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  text-align: center;
  font-size: 1.4rem;
}
.container {
  display: flex;
}
li {
  list-style: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
